@model HelloAspNetMvc.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken() // @Html.ValidationSummary(true)
    // 추가
    @Html.HiddenFor(m => m.postNo)
    @Html.HiddenFor(m => m.readCount)
    @Html.HiddenFor(m => m.writeTime)

    <table class="tbl_basic">
        <tr>
            <th style="width:10%">이름</th>
            <td>@Html.TextBoxFor(m => m.name)</td>
        </tr>
        <tr>
            <th>제목</th>
            <td colspan="3">@Html.TextBoxFor(m => m.subject)</td>
        </tr>
        <tr>
            <th>내용</th>
            <td colspan="3">@Html.TextAreaFor(m => m.content, new { rows=10 })</td>
        </tr>
    </table>
    <p>
        <input type="submit" value="저장"/>
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
