@model IEnumerable<HelloAspNetMvc.Models.Post>

@{
    ViewBag.Title = "Board List";
}

<!--Page-->
@using PagedList.Mvc;
@using PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css"/>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="tbl_list">
    <tr>
        <th style="width:10%">
            글번호
        </th>
        <th style="width:55%">
            제목
        </th>
        <th style="width:10%">
            글쓴이
        </th>
        <th style="width:15%">
            작성일
        </th>
        <th style="width:10%">
            조회수
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @item.postNo
        </td>
        <td style="text-align:left; padding-left:15px;">
            @item.subject
        </td>
        <td>
            @item.name
        </td>
        <td>
            @item.writeTime.ToShortDateString()
        </td>
        <td>
            @item.readCount
        </td>
    </tr>
}

</table>

<!--
    section scripts는 _Layout.cs 페이지의 RenderSection("scripts", required:false)에
    최종 렌더링 된다.    
-->
@section scripts{ 
    @*jQuery 자동완성 지원*@
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        // <![CDATA[
        $(document).ready(function () {

            // 마우스 올리면 표시
            $('tr').has('td').hover(function () {
                $(this).css('background', '#f5f5f5');
            }, function () {
                $(this).css('background', '#fff');
            });

            // 목록 선택시 '글번호'에 대해 BoardController가
            // Details Action 메서드를 호출
            // 최종적으로 목록 선택시 /Board/Details/글번호로 Requesst
            $('tr').has('td').on('click', function () {
                location.href = "/Board/Details/" + $(this).children('td').first().text();
            });

            // 마우스 커서 변경
            $('tr').has('td').css('cursor', 'pointer');
        });
        // ]]
    </script>
}

<div style="text-align:center">
    @Html.PagedListPager( (IPagedList)ViewBag.OnePageOfPosts, page => Url.Action("Index", new { page }) )
</div>