@{
    ViewBag.Title = "정보";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        이 영역에 추가 정보를 입력하십시오.
    </p>

    <p>
        이 영역에 추가 정보를 입력하십시오.
    </p>

    <p>
        이 영역에 추가 정보를 입력하십시오.
    </p>
</article>

<aside>
    <h3>제목란</h3>
    <p>
        이 영역에 추가 정보를 입력하십시오.
    </p>
    <ul>
        <li>@Html.ActionLink("홈", "Index", "Home")</li>
        <li>@Html.ActionLink("정보", "About", "Home")</li>
        <li>@Html.ActionLink("연락처", "Contact", "Home")</li>
    </ul>
</aside>